@tailwind base;
@tailwind components;
@tailwind utilities;
/* Glowing cyan cursor */
.neon-glow {
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
}
@keyframes neon-pulse {
  0%,
  100% {
    text-shadow: 0 0 5px #34d399, 0 0 10px #34d399, 0 0 20px #34d399;
  }
  50% {
    text-shadow: 0 0 10px #34d399, 0 0 20px #34d399, 0 0 40px #34d399;
  }
}
.neon-glow {
  animation: neon-pulse 3s infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.price-flash {
  animation: flash 1s infinite;
}
